{{#if title}}<title>{{title}}</title>{{/if}}
{{#if desc}}<desc>{{desc}}</desc>{{/if}}

{{yield (hash
  width=width
  height=height

  container=(component containerComponentName width=width height=height)
  defs=(component "primer-defs" chartId=elementId)
  group=(component "primer-group")
  cursor=(component "primer-cursor")
  line=(component "primer-line" tagName="g")
  area=(component "primer-area" tagName="g")
  transition=(component "primer-transition")
  axis=(component "primer-axis")
)}}