{{#if title}}<title>{{title}}</title>{{/if}}
{{#if desc}}<desc>{{desc}}</desc>{{/if}}

{{!-- {{#if contentRect.client}}
  {{#component containerComponentName
    width=width
    height=height
    cursorPosition=cursorPosition
    update-cursor-position=(action "updateCursorPosition")
  as |primer|}}
    {{yield primer}}
  {{/component}}
{{/if}} --}}

{{#primer-container
  width=width
  height=height
  cursorPosition=cursorPosition
  update-cursor-position=(action "updateCursorPosition")
as |primer|}}
  {{yield primer}}
{{/primer-container}}