<h1>Ember-Primer</h1>

<nav class="SourceList">
  <h3>Examples</h3>
  <ul>
    <li>{{#link-to "examples.margin"}}Margin conventions{{/link-to}}</li>
    <li>{{#link-to "examples.scatter"}}Scatter plot{{/link-to}}</li>
    <li>{{#link-to "examples.line"}}Line chart{{/link-to}}</li>
    <li>{{#link-to "examples.interactive-area"}}Interactive Area chart{{/link-to}}</li>
  </ul>
</nav>