<h2>
  Welcome to Ember Primer
</h2>
<p>
  Ember Primer is a collection of data visualization primitives (components) which
can be composed together to construct ambitious data visualizations and interactive
presentations.
</p>